DATABASE_URL="postgresql://neondb_owner:npg_eT0VUlaO1LEh@ep-solitary-hall-ad50973x-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Environment (Required)
# Development: development
# Production: production
ENVIRONMENT=development

